extends layout.pug
block content
	p #{body}
	p However, these treats might mess things up:
	ul
		each treat in treats
			li= treat
	p Is this true?
	if answer===true
		p Yes, it's true!
	else
		p Noes!